.overall {
    position: relative;
    height: 400px;
}

.result {
	margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button:active {
	transform: scale(0.98);
}

button:hover {
    transform: scale(1.05);
}

button:focus {
	outline: none
}